<div>
  <ul *ngIf="startAnzan">
  <h2>
    <label>Ziffern:
      <input type="number" min=1 max=9 [(ngModel)]="settings.anzahlZahlen"
      style="width:1,5em;"  placeholder="anzahlZahlen">
    </label>
    <label>Anzahl:
      <input type="number" min=1 max=30 [(ngModel)]="settings.anzahl"
      style="width:1,5em;"  placeholder="anzahl">
    </label>
    <label>Pause:
      <input type="number" min=200 max=50000 [(ngModel)]="settings.pause" placeholder="pause">
    </label>
    <label>Minus:
      <input type="checkbox" [(ngModel)]="settings.minus" placeholder="Minus">
    </label>
  </h2>
  </ul>
  <ul *ngIf="runAnzan">
        <li>
        {{addition_subtruction1}}
        </li>
        <li><ul>
        {{addition_subtruction2}}
      </ul></li>
  </ul>
  <ul *ngIf="startAnzan">
    <button (click)="startAdditionSubstraction()">start</button>
  </ul>
  <ul *ngIf="resultAnzan">
    <li>
    {{addition_subtruction_summe1}}
    </li>
    <li><ul>
      {{addition_subtruction_summe2}}
    </ul></li>
  </ul>
  <ul *ngIf="zeigeResults">
    <button (click)="zeigeResult()">Ergebnis</button>
  </ul>
  <ul id="status">
    Zweifach
  </ul>
</div>
